
#IsPrimeNumber {
  #IsPrimeHeader {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    $buttonWidth: 100;
    #IsPrimeInput {
      width: calc(100% - #{$buttonWidth}px);
    }
    button {
      width: #{$buttonWidth}px;
      margin-left: 0.5rem;
    }
  }
  #IsPrimeResult {
    margin-top: 3rem;
    table {
      margin: 0 auto;
      border-collapse: collapse;
      th, td {
        border: 1px solid lightgray;
        padding: 1rem 2rem;
        &.isPrime-0 {
          background-color: rgb(245, 245, 245);
        }
        &.isPrime-1 {
          background-color: rgb(215, 255, 215);
        }
        &.isPrime-2 {
          background-color: rgb(195, 240, 255);
        }
      }
    }
  }
}
